html .mceContentBody {
	max-width: 660px;
}
body.mceContentBody {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: "Open Sans Condensed", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	background: #f9f9f9;
	border: 3px solid #eee;
	color: #666;
	font-style: italic;
	font-weight: 300;
	margin: 0 0 1.5em;
	padding: 1.5em;
}

blockquote blockquote {
	background: transparent;
	border: 0;
	padding-bottom: 0;
	padding-right: 0;
}

blockquote p:last-of-type {
	margin: 0;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #777;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

td {
	border-bottom: 1px solid #ccc;
	padding: 6px 3px;
}

tr:nth-of-type(2n) {
	background-color: #fafafa;
}
th {
	border-bottom: 4px solid #ccc;
	font-weight: bold;
	padding: 5px 2px 3px;
}

a {
	color: #777;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

a:visited {
	color: #777;
}

a:hover,
a:focus,
a:active {
	color: #999;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em !important;
	margin-top: .75em !important;
	margin-bottom: .75em !important;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em !important;
	margin-top: .75em !important;
	margin-bottom: .75em !important;
}

.aligncenter {
	clear: both;
	display: block;
	margin: .75em auto !important;
}

.html5-captions .wp-caption {
	background: #fafafa;
	margin-bottom: 1.5em;
	max-width: 100%;
}

.html5-captions .wp-caption img {
	display: block;
	margin: 0 auto;
}

.html5-captions .wp-caption-dd {
	color: #777;
	font-size: 13px;
	font-style: italic;
	padding: 0 36px 18px 36px;
	text-align: left;
}

.html5-captions .wp-caption .wp-caption-dd {
	margin: 0.8075em 0;
}
